* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgba(240, 231, 231, 0.918);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainSec {
  margin: 10%;
  padding: 10%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 250px;
  background-color: rgb(121, 83, 83);
  font-family: "Courier New", Courier, monospace;
  font-size: 150%;
  box-shadow: 3px 3px 3px 1px rgb(32, 31, 32);
}
h1 {
  margin-top: 20%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(121, 83, 83);
}
